#Demand_high {
    width: 100%;
    height: 400px;
    font-size: 11px;
}

#daily_maxDemand {
    width: 100%;
    height: 400px;
    font-size: 11px;
}

#Demand {
    width: 100%;
    height: 400px;
    font-size: 11px;
}

#daily_maxDemand_period {
    width: 100%;
    height: 400px;
    font-size: 11px;
}
#first_graph{
    width: 100%;
    height: 400px;
    font-size: 11px;
}
#second_graph{
    width: 100%;
    height: 400px;
    font-size: 11px;
}
#third_graph{
    width: 100%;
    height: 400px;
    font-size: 11px;
}