

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>DAE</title>		
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon" />     

	    <!-- Css files -->
	    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">		
		<link href="{{ url_for('static', filename='css/jquery.mmenu.css') }}" rel="stylesheet">		
		<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/climacons-font.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='plugins/xcharts/css/xcharts.min.css') }}" rel=" stylesheet">		
		<link href="{{ url_for('static', filename='plugins/fullcalendar/css/fullcalendar.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='plugins/morris/css/morris.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='plugins/jquery-ui/css/jquery-ui-1.10.4.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='plugins/jvectormap/css/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet">	    
	    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/add-ons.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">	

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
</head>

<body>
	<!-- start: Header -->
	<div class="navbar" role="navigation">
	
		<div class="container-fluid">		
			
			<ul class="nav navbar-nav navbar-actions navbar-left">
				<li class="visible-md visible-lg"><a href="{{ url_for('main.index') }}#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
				<li class="visible-xs visible-sm"><a href="{{ url_for('main.index') }}#" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>			
			</ul>
			
	        <ul class="nav navbar-nav navbar-right">
				<li class="dropdown visible-md visible-lg">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="user-avatar" src="{{ url_for('static', filename='img/user.png') }}" alt="user-mail">User1</a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>Account</strong>
						</li>						
						<li><a href="page-profile.html"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="page-login.html"><i class="fa fa-wrench"></i> Settings</a></li>
						<li><a href="page-invoice.html"><i class="fa fa-usd"></i> Payments <span class="label label-default">10</span></a></li>
						<li><a href="gallery.html"><i class="fa fa-file"></i> File <span class="label label-primary">27</span></a></li>
						<li class="divider"></li>						
						<li><a href="{{ url_for('main.index') }}"><i class="fa fa-sign-out"></i> Logout</a></li>	
	        		</ul>
	      		</li>
				<li><a href="{{ url_for('main.index') }}"><i class="fa fa-power-off"></i></a></li>
			</ul>
			
		</div>
		
	</div>
	<!-- end: Header -->
	
	<div class="container-fluid content">
	
		<div class="row">
				
			<!-- start: Main Menu -->
			<div class="sidebar ">
								
				<div class="sidebar-collapse">
					<div class="sidebar-header t-center">
                        <span><img class="text-logo" src="{{ url_for('static', filename='img/dae.png') }}"></span>
                    </div>										
					<div class="sidebar-menu">						
						<ul class="nav nav-sidebar">
							<li><a href="{{ url_for('main.index') }}"><i class="fa fa-laptop"></i><span class="text"> Dashboard</span></a></li>
						
							<li>
								<a href="#"><i class="fa fa-signal"></i><span class="text"> Visual Chart</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul class="nav sub">
									<li><a href="{{ url_for ('main.chart_flot') }}"><i class="fa fa-random"></i><span class="text"> Flot Chart</span></a></li>
									<li><a href="{{ url_for ('main.chart_other') }}"><i class="fa fa-bar-chart-o"></i><span class="text"> Other</span></a></li>
								</ul>
							</li>
							<li><a href="{{ url_for ('main.demand_analysis') }}"><i class="fa fa-bolt"></i><span class="text">Demand Analysis</span>
						</ul>
					</div>					
				</div>
				<div class="sidebar-footer"></div>	
				
			</div>
			<!-- end: Main Menu -->
		
		<!-- start: Content -->
		<div class="main ">
			
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-random"></i>Flot Chart</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="{{ url_for('main.index') }}">Home</a></li>
						<li><i class="fa fa-signal"></i><a href="#">Visual Chart</a></li>
						<li><i class="fa fa-random"></i>Flot Chart</li>				
					</ol>
				</div>
			</div>

			<div class="row">
				
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-random red"></i><span class="break"></span><strong>電表一</strong></h2>
							<div class="panel-actions">
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover">
								
								<tr><td>日期</td><td>當日用電量</td><td>當日最大需量值</td><td>最大需量值發生時間</td></tr>
								<tr><td>2016-10-05</td><td>1699.11</td><td>1.26</td><td>2016-10-05 14:47:12</td></tr>
								
								
							</table>
						</div>
					</div>
					
				</div><!--/col-->
				
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-random red"></i><span class="break"></span><strong>電表二</strong></h2>
							<div class="panel-actions">
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover">
								
								<tr><td>日期</td><td>當日用電量</td><td>當日最大需量值</td><td>最大需量值發生時間</td></tr>
								<tr><td>2016-10-05</td><td>3670.96</td><td>2.17</td><td>2016-10-05 14:47:27</td></tr>
								
								
							</table>
						</div>
					</div>
					
				</div><!--/col-->

				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-random red"></i><span class="break"></span><strong>電表三</strong></h2>
							<div class="panel-actions">
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover">
								
								<tr><td>日期</td><td>當日用電量</td><td>當日最大需量值</td><td>最大需量值發生時間</td></tr>
								<tr><td>2016-10-05</td><td>5662.3</td><td>4.18</td><td>2016-10-05 14:55:59</td></tr>
								
								
							</table>
						</div>
					</div>
					
				</div><!--/col-->

				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-random red"></i><span class="break"></span><strong>電表四</strong></h2>
							<div class="panel-actions">
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover">
								
								<tr><td>日期</td><td>當日用電量</td><td>當日最大需量值</td><td>最大需量值發生時間</td></tr>
								<tr><td>2016-10-05</td><td>7634.81</td><td>6.24</td><td>2016-10-05 15:10:56</td></tr>
															
							</table>
						</div>
					</div>
					
				</div><!--/col-->

				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-random red"></i><span class="break"></span><strong>電表五</strong></h2>
							<div class="panel-actions">
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="{{ url_for ('main.chart_flot') }}#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover">
								
								<tr><td>日期</td><td>當日用電量</td><td>當日最大需量值</td><td>最大需量值發生時間</td></tr>
								<tr><td>2016-10-05</td><td>5640.65</td><td>3.96</td><td>2016-10-05 14:47:12</td></tr>
								
								
							</table>
						</div>
					</div>
					
				</div><!--/col-->

				

			</div><!--/row-->
				
								
		</div>

		<!-- end: Content -->
		<br><br><br>
		
	</div><!--/container-->
		
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Warning Title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="assets/js/jquery-1.11.1.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
	
	
	<!-- page scripts -->
	<script src="{{ url_for('static', filename='plugins/jquery-ui/js/jquery-ui-1.10.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/touchpunch/jquery.ui.touch-punch.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/fullcalendar/js/fullcalendar.min.js') }}"></script>
	<!--[if lte IE 8]>
		<script language="javascript" type="text/javascript" src="assets/plugins/excanvas/excanvas.min.js"></script>
	<![endif]-->
	<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.pie.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.stack.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.resize.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.time.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.spline.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/xcharts/js/xcharts.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/autosize/jquery.autosize.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/placeholder/jquery.placeholder.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/datatables/js/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/raphael/raphael.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/morris/js/morris.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/jvectormap/js/gdp-data.js') }}"></script>	
	<script src="{{ url_for('static', filename='plugins/gauge/gauge.min.js') }}"></script>
	
	
	<!-- theme scripts -->
	<script src="{{ url_for('static', filename='js/SmoothScroll.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mmenu.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/d3/d3.min.js') }}"></script>	
	
	<!-- inline scripts related to this page -->
	<script src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/electric.js') }}"></script>	
	<!-- end: JavaScript-->
	
	
</body>
</html>